.azul{
    background-color: blue;
    padding: 50px;
    width: 430px;
}
.amarela{
    background-color: yellow;
    padding: 50px;
    margin: 20px;
}
.flex{
    display: flex;
    
}

.long{
    padding-bottom: 200px;
}

.inv{
    width: 430px;
}